@model BeaverTinder.Models.RegisterViewModel
@Html.ValidationMessage("error_message")

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form asp-action="Register" method="post">
        <div class="form-group">
            <label asp-for="Username">UserName</label>
            <input name="username" asp-for="Username" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input name="email" asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input name="password" asp-for="Password" class="form-control" />
        </div>
        <div class="form-group">
                    <label asp-for="ConfirmPassword">Confirm Password</label>
            <input name="ConfirmPassword" asp-for="ConfirmPassword" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Firstname">FirstName</label>
            <input name="firstname" asp-for="Firstname" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Lastname">LastName</label>
            <input name="lastname" asp-for="Lastname" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="About">About</label>
            <input name="about" asp-for="About" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Gender">Gender</label>
            <input name="gender" asp-for="Gender" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>      
</div>
</body>
</html>